<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carro de compra</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="../../static/tienda/style/sylecss.css" />
  </head>

  <body>
    <!-- NAVBAR-->
    <nav
      class="navbar navbar-expand-md bg-dark sticky-top border-bottom"
      data-bs-theme="dark"
    >
      <div class="container">
        <img src="../../static/tienda/img/logo-blanco.png" alt="" width="30" />
        <a class="navbar-brand d-md-none" href="{% url 'home' %}">
          <a class="navbar-brand" href="{% url 'home' %}">RAYITO</a>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvas"
          aria-controls="offcanvas"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="offcanvas offcanvas-end"
          tabindex="-1"
          id="offcanvas"
          aria-labelledby="offcanvasLabel"
        >
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasLabel">RAYITO</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav flex-grow-1 justify-content-between">
              <li class="nav-item">
                <a class="nav-link" href="#"></a>
              </li>
              <!-- Categorias-->
              {% for categoria in categoria %}
              <li class="nav-item dropdown">
                <a
                  fill="currentColor"
                  href="{% url 'categoria_vista' categoria.nombre categoria.id %}"
                  >{{categoria.nombre}}</a
                >
              </li>
              {% endfor %}
              <!-- Fin Categorias-->
              <form class="d-flex" role="search">
                <input
                  class="form-control me-2"
                  type="Buscar"
                  placeholder="Buscar"
                  aria-label="Buscar"
                />
                <button class="btn btn-outline-success" type="submit">
                  <i class="bi bi-search"></i>
                </button>
              </form>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'carro' %}">
                  <i class="bi bi-cart2"></i>
                </a>
              </li>
              <li class="nav-item">
                <button
                  class="nav-link"
                  data-bs-toggle="modal"
                  data-bs-target="#modalSignin"
                >
                  <i class="bi bi-person-circle"> Iniciar Sesión </i>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <!-- CONTENIDO -->
    <div class="container-fluid py-5">
      <div class="row justify-content-end">
        <div class="col-lg-6 col-md-8">
          <h3>Productos</h3>

          <!-- CARTA DE PRODUCTO -->
          {% for item in itemcarrito %}
          <div
            class="card mb-3"
            data-item-id="{{ item.id }}"
            data-product-id="{{ item.producto.id }}"
          >
            <div class="row">
              <div class="col-lg-8 col-sm-6">
                <div class="card-body">
                  <h5>{{ item.producto }}</h5>
                  <div class="row">
                    <div class="col-lg-6">
                      <p>Valor: {{item.valor_producto}}</p>
                      <br />
                      <p>Unidades:</p>
                      <div class="d-flex align-items-center">
                        <!--boton "-" -->
                        <button
                          class="btn btn-secondary rounded-pill mr-2 eliminar_cantidad"
                          type="button"
                          data-product-id="{{ item.producto.id }}"
                        >
                          -
                        </button>
                        <p class="mb-0 cantidad">{{ item.cantidad }}</p>
                        <!--boton "+" -->
                        <button
                          class="btn btn-secondary rounded-pill mr-2 agregar_carro"
                          type="button"
                          data-product-id="{{ item.producto.id }}"
                        >
                          +
                        </button>
                      </div>
                    </div>
                    <div class="col-lg-12 mt-3">
                      <!--boton eliminar-->
                      <button
                        type="button"
                        class="btn btn-danger eliminar-item"
                        data-item-id="{{ item.id }}"
                      >
                        Eliminar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          <!-- Fin de carta-->
        </div>

        <!-- Resumen de compra -->
        <div class="col-lg-4">
          <h3>Resumen de compra</h3>
          <div class="card">
            <div class="card-body">
              <div class="d-lg-flex justify-content-between">
                <div>
                  <p>Total</p>
                </div>
                <div>
                  <span id="total-carrito">$0</span>
                </div>
              </div>
              <button
                class="btn btn-success rounded-pill custom-button"
                type="button"
              >
                Comprar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Mensaje de éxito o error -->
    <div
      id="mensaje"
      style="display: none; padding: 10px; margin-top: 20px"
      class="alert"
      role="alert"
    ></div>

    <!-- FOOTER -->
    <footer class="container-fluid bg-dark">
      <div class="row" style="padding: 3%; color: #f8f9fa">
        <div class="col-12 col-md">
          <img
            src="../../static/tienda/img/logo-blanco.png"
            width="50"
            alt=""
          />
          <a class="navbar-brand d-md-none" href="{% url 'home' %}">
            <a class="navbar-brand" href="{% url 'home' %}">RAYITO</a>
          </a>
        </div>
        <div class="col-6 col-md">
          <ul class="list-unstyled text-small">
            <li>
              <a href="{% url 'sobre_nosotros' %}">
                <h5 class="titulo_blanco">Sobre nosotros</h5>
              </a>
            </li>
          </ul>
          <ul class="list-unstyled text-small">
            <li>
              <a href="{% url 'politicas' %}">
                <h5 class="titulo_blanco">Politicas de Privacidad</h5>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <div class="d-flex justify-content-center">
            <h5>Síguenos</h5>
          </div>
          <div class="d-flex justify-content-center">
            <div>
              <a href="url facebook"><i class="bi bi-facebook"></i></a>
            </div>
            <div>
              <a href="url twitter"><i class="bi bi-twitter"></i></a>
            </div>
            <div>
              <a href="url instagram"><i class="bi bi-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- MODALS-->
    <div
      class="modal fade"
      id="modalSignin"
      tabindex="-1"
      aria-labelledby="modalSigninLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-dark">
            <img
              src="../../static/tienda/img/logo-blanco.png"
              alt=""
              width="30px"
              style="padding-right: 4px"
            />
            <h5
              class="modal-title"
              id="modalSigninLabel"
              style="color: #f8f9fa"
            >
              Inicio de Sesión
            </h5>
            <button
              type="button"
              class="btn-close bg-secondary"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body p-5 pt-0" style="margin-top: 10px">
            <form class="form-signin">
              <div class="form-floating mb-3" style="padding-top: 2%">
                <input
                  type="email"
                  class="form-control rounded-3"
                  id="floatingInput"
                  placeholder="name@example.com"
                />
                <label for="floatingInput">Correo Electronico</label>
              </div>
              <div class="form-floating mb-3">
                <input
                  type="password"
                  class="form-control rounded-3"
                  id="floatingPassword"
                  placeholder="Password"
                />
                <label for="floatingPassword">Contraseña</label>
              </div>
              <button
                class="w-100 mb-2 btn btn-lg rounded-3 btn-secondary"
                type="submit"
              >
                Iniciar sesión
              </button>
              <small class="d-block text-center mt-2"
                >¿Aún no tienes cuenta? <a href="#">Regístrate</a></small
              >
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- SCRIPTS-->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>

    <script>
      $(document).ready(function () {
        // Eliminar item del carrito y actualizar vista
        $(".eliminar-item").click(function () {
          var itemId = $(this).data("item-id");
          var itemElement = $(this).closest(".card");

          $.ajax({
            url: '{% url "eliminar_item_carrito" 0 %}'.replace("0", itemId),
            type: "POST",
            dataType: "json",
            headers: {
              "X-CSRFToken": "{{ csrf_token }}",
              "X-Requested-With": "XMLHttpRequest",
            },
            success: function (response) {
              if (response.status === "success") {
                itemElement.fadeOut(300, function () {
                  $(this).remove();
                });
                $("#mensaje")
                  .removeClass("alert-danger")
                  .addClass("alert-success")
                  .text("Ítem eliminado del carrito exitosamente.")
                  .show();
                calcularTotalCarrito();
              } else {
                $("#mensaje")
                  .removeClass("alert-success")
                  .addClass("alert-danger")
                  .text(
                    "Hubo un problema al intentar eliminar el ítem del carrito."
                  )
                  .show();
              }
            },
            error: function (xhr, status, error) {
              $("#mensaje")
                .removeClass("alert-success")
                .addClass("alert-danger")
                .text(
                  "Hubo un problema al intentar eliminar el ítem del carrito."
                )
                .show();
            },
          });
        });
      });

      $(".agregar_carro").on("click", function () {
        var productId = $(this).data("product-id"); // Obtiene el ID del producto
        $.ajax({
          url: '{% url "agregar_al_carrito" 0 %}'.replace("0", productId), // URL para agregar al carrito
          type: "POST",
          dataType: "json",
          headers: {
            "X-CSRFToken": "{{ csrf_token }}", // CSRF Token para Django
            "X-Requested-With": "XMLHttpRequest",
          },
          success: function (response) {
            if (response.status === "success") {
              // Actualizar la cantidad del producto en el carrito
              var cantidadElement = $(this).siblings(".cantidad"); // Obtiene el elemento que muestra la cantidad
              cantidadElement.text(response.cantidad); // Actualiza la cantidad en el DOM
            }
          },
          error: function (xhr, status, error) {
            alert(
              "Ocurrió un error al agregar la cantidad del producto al carrito."
            );
          },
        });
      });

      $(".eliminar_cantidad").on("click", function () {
        var productId = $(this).data("product-id");
        var cantidadElement = $(this).siblings(".cantidad");

        $.ajax({
          url: '{% url "eliminar_cantidad_carrito" 0 %}'.replace(
            "0",
            productId
          ),
          type: "POST",
          dataType: "json",
          headers: {
            "X-CSRFToken": "{{ csrf_token }}",
          },
          success: function (response) {
            if (response.status === "success") {
              if (response.cantidad === 0) {
                $(this)
                  .closest(".card")
                  .fadeOut(300, function () {
                    $(this).remove();
                    calcularTotalCarrito();
                  });
              } else {
                cantidadElement.text(response.cantidad);
                calcularTotalCarrito();
              }
            } else {
              alert(response.message);
            }
          },
          error: function () {
            alert("Error al eliminar la cantidad del producto.");
          },
        });
      });

      function calcularTotalCarrito() {
        $.ajax({
          url: '{% url "calcular_total_carrito" %}',
          type: "GET",
          dataType: "json",
          success: function (response) {
            if (response.status === "success") {
              $("#total-carrito").text("$" + response.total);
            }
          },
          error: function () {
            alert("Error al calcular el total del carrito.");
          },
        });
      }
    </script>
  </body>
</html>
